/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* My CSS */
body {
  background-color: #282e2b;
}

.container {
  height: 750px;
  width: 1000px;
  background-color: #282e2b;
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: 30px;
}
h1 {
  font-size: 50px;
  color: white;
  font-family: "Merriweather", serif;
}
.box-1 {
  padding-top: 40px;
}
h2 {
  color:#FF0248;
}
h3 {
  color: white;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}
.box-1 {
  display: flex;
  justify-content: space-between;
}
p {
  margin-top: 40px;
  color: white;
  font-family: 'Istok Web', sans-serif;
}
h4 {
  font-size: 50px;
  padding-top: 29px;
  color: white;
  font-family: 'Merriweather', serif;
}
